/* Variables */ 
$bg-color: darken(#414850, 5%);
$navbar-bg: darken(#414850, 10%);
$main-color: #414850;
$daycell-bg: #74b9ff;

@import './components/layout/navbar.scss';
@import './components/layout/homepage.scss';
@import './components/auth/auth.scss';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


/* Global */

* {
	font-family: 'Nunito', sans-serif;
}
body {
  margin: 0;
	background-color: $bg-color;


}

input {
  font-family: 'Quicksand', sans-serif;
}
