.fp-posts-container {
  width: 80%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  color: black;

  .posts {
    display: flex;
    flex-wrap: wrap;
  }

}

@media(max-width: 789px) {
  .posts {
    justify-content: center;
  }
}

