


// modal design
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  display: flex;
  flex-direction: row;
  background: grey;
  padding: .5em;
  outline: none;

  form {
    display: flex;
    flex-direction: column;

    input, textarea {
      border: 0;
      border-radius: 5px;
      align-self: center;
      font-size: 16px;
    }
    
    input {
      padding: .5em 1em;
      margin: .2em 0;
      
    }

    #content {
      width: 100%;
      margin: .2em 0;
      padding: 2em 0;
      word-wrap: break-word;
    }
  }

  .button{
    border: 0;
    border-radius: 5px;
    margin: 0 .5em;
    background-color: #7848F4;
    color: white;
    
  }
} 

.post-container {
  width: 80%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;

  .post {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #fff;
    margin: 0 0 2em 0;

    img {
      width:100%;
      height:550px;
      object-fit:cover;
      object-position:50% 50%;
    }
    h3, h4, p {
      margin: 0;
    }

    #title {
      
    }

    #description {

    }

    #content {

    }
  }
  
  .button{
    padding: .5em 1em;
    border: 0;
    margin: 1em 0;
    border-radius: 5px;
    align-self: center;
    background-color: #7848F4;
    font-size: 16px;
    color: white;
    
  }

  .action-buttons {
    display: flex;
    margin: 1em;
    justify-content: flex-end;

    button {
      margin: 0 .5em;
    }
  }

}
