.restaurants{
    width: 80%;
    margin: 0 auto;

}

.search-bar{
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #0B0434;
    color: white;
    border-radius: 10px;
    position: relative;
    top:-40px;
    box-sizing: border-box;

    .input-container{
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        width: 100%;

        border-right: 1px solid black;

        label{
            padding-bottom: 18px;
            font-size: 13px;
        }

        input{
            background:#0B0434;
            border: 0;
            border-bottom: 1px solid white;
            color: white;
            font-size: 20px;
            cursor: pointer;
            outline: none;
            width: 100%;
        }

        &:nth-child(3){
            border:none;
        }
    }
    .button{
        padding: 20px 25px;
        margin: 0 15px;
        border: 0;
        border-radius: 10px;
        height: 100%;
        align-self: center;
        background-color: #7848F4;
        font-size: 18px;
        color: white;
    }
}

@media (max-width:768px){
    .search-bar{
        flex-direction: column;
        .input-container{
            padding: 20px 0 ;
            margin: 0;
            width: 85%;
            border: 0;
            margin: 0 auto;
        }
        input{
            box-sizing: border-box;
            padding: 0;
            
        }
        .button{
            margin: 20px 0;
        }
    }
}