.pubs-container {
  width: 80%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;

  .pub {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #fff;
    margin: 0 0 2em 0;

    h3, h4, p {
      margin: 0;
    }

    h3 {
      margin-top: 1em;
    }

    #title {
      
    }

    #description {

    }

    #content {

    }
  }
  
  .button{
    padding: .5em 1em;
    border: 0;
    border-radius: 5px;
    align-self: center;
    background-color: #7848F4;
    font-size: 16px;
    color: white;
    
  }

  .action-buttons {
    display: flex;
    margin: 1em;
    justify-content: flex-end;

    button {
      margin: 0 .5em;
    }
  }

}
