.navbar {
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
	text-align: center;
	padding: 1em;
	background-color: #fff;
  	font-family: 'Josefin Sans', sans-serif;

	h1 {
		margin:  0;

		a {
			color: #000;
			text-decoration: none;
		}
	}

	.links {
		display: flex;
		align-self: center;
		a {
			color: #fff;
			text-align: center;
			text-decoration: none;
			height: 100%;
			padding: 8px 18px;
			margin: 0 .2em;
			background-color: #CC8899;
			border-radius: 10px;
		}
	}
}

// Mobile L
@media (min-width: 425px) {
	.admin{
		
	}
}

// Tablet
@media (min-width: 768px) {
	//	
}

// Laptop
@media (min-width: 1024px) {
	
}

// Laptop L
@media (min-width: 1440px) {
	
}
